@font-face {
   font-family: 'ClearSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/SERV2/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-19_120047/fonts/ClearSans-Regular/font.ttf');
}
